<mat-nav-list fxLayout="column">
  <a mat-menu-item fxLayoutAlign="left center">
    <mat-icon style="color: whitesmoke;">emoji_objects</mat-icon>
    <span class="nav-caption">Tasks</span>
  </a>
  <a mat-menu-item fxLayoutAlign="left center">
    <mat-icon style="color: whitesmoke;">timeline</mat-icon>
    <span class="nav-caption">Graphics</span>
  </a>
  <a mat-menu-item fxLayoutAlign="left center">
    <mat-icon style="color: whitesmoke;">history</mat-icon>
    <span class="nav-caption">History</span>
  </a>

  <mat-divider></mat-divider>

  <a mat-menu-item fxLayoutAlign="left center">
    <mat-icon style="color: red;">local_offer</mat-icon>
    <span class="nav-caption">High</span>
  </a>
  <a mat-menu-item fxLayoutAlign="left center">
    <mat-icon style="color: yellow;">local_offer</mat-icon>
    <span class="nav-caption">Medium</span>
  </a>
  <a mat-menu-item fxLayoutAlign="left center">
    <mat-icon style="color: green;">local_offer</mat-icon>
    <span class="nav-caption">Low</span>
  </a>
  <a mat-menu-item fxLayoutAlign="left center">
    <mat-icon style="color: gray;">local_offer</mat-icon>
    <span class="nav-caption">Normal</span>
  </a>

  <mat-divider></mat-divider>

  <a mat-menu-item fxLayoutAlign="left center">
    <mat-icon style="color: gray; font-weight: bold;">radio_button_unchecked</mat-icon>
    <span class="nav-caption">Planned</span>
  </a>
  <a mat-menu-item fxLayoutAlign="left center">
    <mat-icon style="color: orange;">pause_circle_outline</mat-icon>
    <span class="nav-caption">Paused</span>
  </a>
  <a mat-menu-item fxLayoutAlign="left center">
    <mat-icon style="color: skyblue;">av_timer</mat-icon>
    <span class="nav-caption">In Progress</span>
  </a>
  <a mat-menu-item fxLayoutAlign="left center">
    <mat-icon style="color: red;">cancel</mat-icon>
    <span class="nav-caption">Cancel</span>
  </a>
  <a mat-menu-item fxLayoutAlign="left center">
    <mat-icon style="color: green;">check_circle</mat-icon>
    <span class="nav-caption">Completed</span>
  </a>
</mat-nav-list>
